
[Unit]
Description=app HTTP Server

[Service]
User=vagrant
WorkingDirectory=/opt/go-staticsite/static
ExecStart=/opt/go-staticsite/app

[Install]
WantedBy=multi-user.target
